# Android Studio Grossness
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.signing
.externalNativeBuild
/*/build/

# Keeping our API key safe
app/src/main/assets/api.txt

# OS Specific Stuff
.DS_Store
.DS_Store?



